[submodule "modules/gitlab"]
	path = modules/gitlab
url=https://github.com/sbadia/puppet-gitlab.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
